.copyright {
  display: flex;

  &__text {
    margin-left: 18px;
    margin-right: 18px;
    font-size: @small-font-size;
    line-height: @main-line-height;
  }

  &__link {
    margin-top: 10px;
  }
}
