.photos {
  .list-reset();
  margin-left: 20px;

  text-align: left;

&__title,
&__author-name,
&__likes {
  font-size: @small-font-size;
  line-height: @medium-line-height;
}

&__author-name {
  font-style: normal;
  text-transform: none;
}
}
