.presentation {
  padding-left: 24px;
  padding-right: 24px;

  &__title {
    font-size: @main-font-size;
    line-height: @main-line-height;
  }

  &__review {
    font-size: @small-font-size;
    line-height: @medium-line-height;
  }
}


