.reasons__list {
  display: flex;
  flex-direction: column;

  margin-bottom: 25px;

  .list-reset();

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 57px;
  }
}

  .reasons__item--real-town,
  .reasons__item--devil-bridge {
    min-height: 450px;

    .set-color(white);
    background-color: @main-color;

    @media (min-width: @tablet-width) {
      display: flex;

      min-height: 256px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
    }
  }

  .reasons__item--real-town {
    @media (min-width: @tablet-width) {
      margin-bottom: 43px;
    }
  }

  .reasons__item--devil-bridge {
    @media (min-width: @tablet-width) {
      flex-direction: row-reverse;
    }
  }

  .reasons__city,
  .reasons__bridge {
    @media (min-width: @tablet-width) {
        width: 33%;
      }
  }

  .reasons__city {
    @media (min-width: @tablet-width) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 65px;
      padding-right: 65px;
    }
  }

  .reasons__bridge {
    @media (min-width: @tablet-width) {
      padding-left: 20px;
      padding-right: 20px;
    }

      @media (min-width: @desktop-width) {
        padding-left: 90px;
        padding-right: 90px;
      }
  }

  .reasons__item h2 {
    .main-font();

    @media (min-width: @tablet-width) {
      font-size: @big-font-size;
      line-height: @main-line-height;
    }
  }

  .reasons__city h2 {
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 3px;

    @media (min-width: @tablet-width) {
      padding-top: 30px;
      padding-left: 5px;
      padding-right: 5px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 20px;
      margin-bottom: 5px;
      padding-left: 26px;
      padding-right: 26px;
    }
  }

  .reasons__bridge h2 {
    margin-bottom: 0;
    padding-top: 25px;

    @media (min-width: @tablet-width) {
      margin-bottom: 7px;
      padding-left: 31px;
      padding-right: 31.2px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 30px;
      padding-left: 32px;
      padding-right: 33px;
    }
  }

  .reasons__item span,
  .reasons__item p {
    font-size: @small-font-size;
    line-height: @small-line-height;
  }

  .reasons__city p {
    margin-bottom: 0;
    padding-bottom: 25px;

    @media (min-width: @tablet-width) {
      margin-top: 20px;
      padding-bottom: 5px;
      padding-left: 25px;
      padding-right: 25px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
      padding-right: 0;

      min-width: 270px;
    }
  }

  .reasons__bridge p {
    margin-bottom: 0;
    padding-bottom: 28px;

    @media (min-width: @tablet-width) {
      margin-top: 20px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;

      @media (min-width: @desktop-width) {
        padding-left: 0;
        padding-right: 0;

        min-width: 215px;
      }
    }
  }

  .reasons__item--real-town img,
  .reasons__item--devil-bridge img {
    position: relative;

    @media (min-width: @tablet-width) {
      top: 0;

      min-width: 512px;
      height: 256px;
    }

    @media (min-width: @desktop-width) {
      min-width: 800px;
    }
  }

  .reasons__item--real-town img {
    top: 2px;

    @media (min-width: @tablet-width) {
      top: 0;

      width: 67%;
    }
  }

  .reasons__item--devil-bridge img {
    top: 6px;

    @media (min-width: @tablet-width) {
      top: 0;
    }
  }

   .reasons__wrapper {
    overflow: hidden;
    height: 260px;

    @media (min-width: @tablet-width) {
      height: 256px;
    }
  }

  .reasons__list li:first-child {
    order: -2;
  }

  .reasons__list li:last-child {
    order: -1;
  }

  .reasons__item--sights,
  .reasons__item--beautiful-road,
  .reasons__item--few-tourists {
    background-color: @another-color;

    @media (min-width: @tablet-width) {
      padding-top: 30px;
      padding-bottom: 5px;
      width: 33.33%;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 25px;
    }
  }

  .reasons__item--sights h2,
  .reasons__item--beautiful-road h2,
  .reasons__item--few-tourists h2 {
    @media (min-width: @tablet-width) {
      margin-bottom: 5px;
    }
  }

  .reasons__item--sights h2 {
    margin-bottom: 5px;

    @media (min-width: @tablet-width) {
      padding-right: 17px;
      padding-left: 17px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 90px;
      padding-left: 90px;
    }
  }

  .reasons__item--beautiful-road h2 {
    margin-bottom: 5px;

    @media (min-width: @tablet-width) {
      padding-right: 39px;
      padding-left: 39px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 115px;
      padding-left: 115px;
    }
  }

  .reasons__item--few-tourists h2 {
    margin-bottom: 5px;

    @media (min-width: @tablet-width) {
      padding-right: 50px;
      padding-left: 50px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 125px;
      padding-left: 125px;
    }
  }

  .reasons__item--few-tourists {
    @media (min-width: @tablet-width) {
      max-width: 256px;
    }

    @media (min-width: @desktop-width) {
      max-width: 400px;
    }
  }

  .reasons__item--sights p {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 28px;

    border-bottom: 1px solid @border-color-two;

    @media (min-width: @tablet-width) {
      margin-top: 20px;
      padding-left: 20px;
      padding-right: 20px;

      border-bottom: none;
    }

    @media (min-width: @desktop-width) {
      padding-right: 20px;
    }
  }

  .reasons__item--beautiful-road p {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 28px;
    padding-left: 16px;
    padding-right: 15px;

    border-bottom: 1px solid @border-color-two;

    @media (min-width: @tablet-width) {
      margin-top: 20px;
      padding-left: 35px;
      padding-right: 35px;

      border-bottom: none;
    }

    @media (min-width: @desktop-width) {
      padding-left: 45px;
      padding-right: 40px;
    }
  }

  .reasons__item--few-tourists p {
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;

    @media (min-width: @tablet-width) {
      margin-top: 20px;
      padding-left: 38px;
      padding-right: 38px;
    }
  }
