.video__question {
  font-size: @main-font-size;
  line-height: @main-line-height;
}

.video__proposal {
  padding-left: 40px;
  padding-right: 40px;

  font-size: @small-font-size;
  line-height: @medium-line-height;
}
